@import url('../../css/colors.css');

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid var(--border-color);
}

.header-image, .header-info {
    display: flex;
    width: 100%;
}

.header-image {
    flex-grow: 1;
    max-width: 26%;
    margin: 10px auto 10px 20px;
    height: auto;
    align-items: center;
}

.portrait {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid var(--secondary-color);
}

.header-info {
    max-width: 67%;
    flex-direction: column;
    flex-grow: 2;
}

.header-info-name, .header-info-jobtitle, .header-info-contact, .header-info-status {
    padding-left: 20px;
    min-height: 4.5em;
    display: flex;
    align-items: center;
    border-bottom: 3px solid var(--border-color);
}

.header-info-status {
    border-bottom: none;
}

.header-info-jobtitle h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--accent-color);
    margin: 10px 0;
}

.header-info-contact, .header-info-status {
    display: flex;
    flex-wrap: wrap;
}

.header-info-contact-item, .header-info-status-item {
    width: 50%;
    display: flex;
    min-width: 261px;
}

.header-info-status-item {
    margin-top: 10px;
}

.header-info-status-item:last-child {
    margin: 10px 0;
}

.header-info-contact button {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}

.header-info-contact button i {
    margin-right: 10px;
}

.header-info-contact button:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.header-info-contact button:active {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.header-info-status-item i, .header-info-name h1, .header-info-jobtitle h2 {
    margin-left: 20px;
}

.header-info-status-item p {
    margin: 0;
    padding: 0 0 0 10px;
}

/* Responsive Breakpoints */
@media (max-width: 898px) {
    .header-info-contact-item:last-child {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .header-image, .header-info {
        width: 100%;
        padding: 10px;
    }

    .header-info-name, .header-info-jobtitle, .header-info-contact, .header-info-status {
        padding-left: 10px;
    }
}

@media (max-width: 531px) {

}

@media (max-width: 480px) {
    .header-info-jobtitle p {
        font-size: 1.2em;
    }

    .header-info-contact button {
        padding: 5px 10px;
        font-size: 0.9em;
    }
}
