@import url('../../css/colors.css');

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.header-image {
    width: 33%;
    max-width: 300px;
    height: auto;
    padding: 20px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
}

.header-info {
    width: 67%;
    display: flex;
    flex-direction: column;
}

header, .header-info-name, .header-info-jobtitle, .header-info-contact {
    border-bottom: 3px solid var(--border-color);
}

