<header>
    <div class="header-image">
        <img class="portrait" src="../../img/portrait.jpg" alt="portrait of me">
    </div>
    <div class="header-info">
        <div class="header-info-name">
            <h1>Josef Springer-Greimel</h1>
        </div>
        <div class="header-info-jobtitle">
            <h2><b>Web Developer</b></h2>
        </div>
        <div class="header-info-contact">
            <div class="header-info-contact-item">
                <a href="mailto:josef.springer@gmail.com" target="_blank">
                    <button>
                        <i class="fas fa-envelope"></i>josef.springer@gmail.com
                    </button>
                </a>
            </div>
            <div class="header-info-contact-item">
                <a href="callto:+4915209275168" target="_blank">
                    <button>
                        <i class="fas fa-phone"></i>+49 (0)152 092 75 168
                    </button>
                </a>
            </div>
        </div>
        <div class="header-info-status">
            <div class="header-info-status-item">
                <i class="fas fa-home"></i>
                <p>
                    Aichat 9
                    <br>
                    83553 Frauenneuharting
                </p>
            </div>
            <div class="header-info-status-item">
                <i class="fas fa-cake"></i>
                <p>
                    01.10.1991
                    <br>
                    in Ebersberg
                </p>
            </div>
            <div class="header-info-status-item">
                <i class="fas fa-user"></i>
                <p>
                    ledig
                </p>
            </div>
        </div>
    </div>
</header>
