<main>
    <section id="expertise" class="section">
        <div class="section-title">
            <h3>Fähigkeiten</h3>
        </div>
        <div class="section-content">
            <p>React, Redux, React Native (Expo), Sass/Scss, Webpack, Git<br>
                Javascript (ES5/6+, Typescript), CSS (3), HTML (5), (No) SQL, PHP, Java
            </p>
        </div>
    </section>
    <section id="job experience" class="section">
        <div class="section-title">
            <h3>Berufserfahrung</h3>
        </div>
        <div class="section-content">
            <p>Softwareentwickler bei der Firma <a href="https://www.itsc.de/">ITSC GmbH</a> in Hamburg</p>
            <p>Softwareentwickler bei der Firma <a href="https://www.itsc.de/">ITSC GmbH</a> in Hamburg</p>
        </div>
    </section>
    <section id="education" class="section">
        <div class="section-title">
            <h3>Bildungsweg</h3>
        </div>
        <div class="section-content">
            <p>Studium der Informatik an der <a href="https://www.haw-hamburg.de/">HAW Hamburg</a></p>
            <p>Ausbildung zum Fachinformatiker für Anwendungsentwicklung bei der <a href="https://www.itsc.de/">ITSC
                    GmbH</a> in Hamburg</p>
        </div>
    </section>
    <section id="languages" class="section">
        <div class="section-title">
            <h3>Sprachen</h3>
        </div>
        <div class="section-content">
            <p>Deutsch (Muttersprache), Englisch (fließend), Französisch (Basiskenntnisse)</p>
        </div>
    </section>
    <section id="interests" class="section">
        <div class="section-title">
            <h3>Interessen</h3>
        </div>
        <div class="section-content">
            <p>Motorsport, Simracing, Radfahren<br>
                PC, Mac, Android
            </p>
        </div>
    </section>
    <section id="driving-license" class="section">
        <div class="section-title">
            <h3>Führerschein</h3>
        </div>
        <div class="section-content">
            <p>A und B</p>
        </div>
    </section>
</main>